.main_contact{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    margin-right: 30px;

}

h1{
    font-size: 50px;
   
}
.contact_img{
    padding: 5px;
    margin: 5px;
    
}
.container_contact{
    border: #66FCF1 3px solid;
    margin:2rem;
    padding:2rem;
    border-radius: 10%;
    margin-left: 0;

}
.contactme{
    color: #66FCF1;
}
.form{
    margin-top: 1rem;
}
.comment {
    width: 100%;
    height: 200px;
    padding: 10px;
    background-color: #0B0c10;
  }

.FirstName{
    margin-right: 1rem;
}

.submit{

    margin-top: 1rem;
    padding:0.4rem;
    border-radius: 10%;
    color: #66FCF1;
    border: #66FCF1 2px solid;
    background-color: #0B0c10;
}

.submit:hover{
    background-color: #66FCF1;
    color: #0B0c10;
    font-weight: 1000;
}

.logocall{
    color: #66FCF1;
    padding: 10px;
    margin: 10px;
    letter-spacing: 2px;
}

