.skills-container {
    margin-top: 5rem;
    text-align: center;
}

.skills-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skills-container ul li {
    
    margin: 1% 10%;
    text-align: left;
}
.skills-container ul li h3{
    text-align: center;
}

.skills-container .progress-bar {
    width: 100%;
    height: 20px;
    background-color: #66FCF1;
    border-radius: 25px;
    overflow: hidden;
    margin: 10px 0;
}

.skills-container .progress {
    height: 100%;
    background-color: #00877e;
    border-radius: 25px;
}

h1{
    color: #66FCF1;
}
